header ul li{
    display: inline-block;

  }
.icons
{
  text-align: center;
  text-decoration: none;
  margin: 2px;;
  border-radius: 50%;
}

#blank{
    width: 1100px;
}
h1{
    color: brown;
}

.p1{   
    text-align: left;
    font-size: 27px;
   
}
.head{
 border: 3px dashed brown;
  padding-left: 4%; 
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom:2% ;
}
body{
    background-color:burlywood;
}
.exp{
    width: 40%;
    align-items: center;
    
}